.button {
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0.5em rgba(1,1,1, 0.2);
    background-color: rgba(0, 173, 181, 0.4);
    font-weight: 400;
    font-size: 16px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 5px;
    transition: .1s;
    width: 100%; 
    color: #EEEEEE;
}

.button:hover {
    background-color: rgba(0, 133, 141, 0.4);
}